
body{
    color: blue;
    text-align: center;
    background-image: url("../images/background.png")
}

p{
    color: blue;
}

h1{
	font-weight: bold;
    text-align: center;
    font-size: 30pt;
    color: rgb(255, 0, 0);
}


.main-button-container {
    margin-top: 175px;
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
}

.timer-p {
    margin-top: 40px;
}

.answer:hover {
    background: pink;
}

.answer {
    padding-top: 7px;
    height: 45px;
    color: black;
    padding-left: 14px;
    background-color: white;
    border-radius: 4px;
}

.img-wrong {
    margin-top: 40px;
}

.img-right{
    margin-top: 40px;
    height: 100px
    width: 100px
}

.first-answer {
    margin-top: 40px;
}

.reset-button {
    margin-top: 40px;
}

.summary-correct {
    margin-top: 40px;
}
